  #grid {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
  
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .red {
      background-color: red;
  }
  .orange {
    background-color: orange;
}.yellow {
    background-color: yellow;
}.green {
    background-color: green;
}.blue {
    background-color: blue;
}